<h1>Orders</h1>

<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">UUID</th>
      <th scope="col">User_id</th>
      <th scope="col">Email</th>
      <th scope="col">Shipping address</th>
      <th scope="col">Total amount</th>
      <th scope="col">Created at</th>
      <th scope="col">Commands</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |o| %>
      <tr>
        <th scope="row"><%= o.id %></th>
        <td><%= o.uuid %></td>
        <td><%= o.user_id.presence || "session's order" %></td>
        <td><%= o.email %></td>
        <td><%= o.shipping_address %></td>
        <td><%= o.total_amount %></td>
        <td><%= o.created_at %></td>
        <td>
          <%= link_to "View", admin_order_path(o), class: "btn btn-info"%>
          <%= button_to "Delete", admin_order_path(o), method: :delete, 
              data: { confirm: "Are you sure you want to delete this cart?" }, 
              form_class: "d-inline", class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>