<div class="card border rounded-lg mb-3">
  <div class="card-header d-flex align-items-center">
    Order number: <%= order.id %>
    <%= link_to "Info", order_by_uuid_path(order.uuid), class: "btn btn-info mt-1 ml-auto" %>
  </div>
  <div class="card-body p-0">
    <% order.items.each do |item| %>
      <%= render partial: "shared/order_product", locals: { item: item } %>
    <% end %>
  </div>
  <div class="card-footer d-flex justify-content-between">
    <span> Total: <%= order.total_amount %> </span>
    <span> Date creation: <%= order.created_at %> </span>
  </div>
</div>
