<div class="container">
  <%= form_for @order, url: orders_path, method: :post do |form| %>
    <%= form.label :email %>
    <%= form.email_field :email %>
    <%= form.label :shipping_address %>
    <%= form.text_field :shipping_address %>

    <%= render partial: 'shared/items_table', locals: { items: @order.items, total_amount: @order.total_amount } %>

    <%= form.submit 'Place Order', class: 'btn btn-success' %>
  <% end %>

  <%= link_to "Cancel", cart_path, class: 'nav-link' %>
</div>