<div class="container">
  <p>Order number: <%= @order.id %></p>
  <p>Email: <%= @order.email %></p>
  <p>Shipping address: <%= @order.shipping_address.present? ? @order.shipping_address : "Not set" %></p>

  <%= render partial: 'shared/items_table', locals: { items: @order.items, total_amount: @order.total_amount } %>

  <p>Created: <%= @order.created_at %></p>

  <h4 class="text-center pt-3"><%= link_to "Continue with Store", catalog_path, class: "btn btn-outline-success" %></h4>
</div>