<div class="container">
  <h1>Your Cart</h1>

  <% if Current.cart.items.any? %>
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th>Product</th>
          <th>Price</th>
          <th>Quantity</th>
          <th/>
          <th>Total price</th>
          <th>Del</th>
        </tr>
      </thead>
      <tbody>
        <% Current.cart.items.each do |item| %>
          <tr>
            <td><%= item.product.name %></td>
            <td><%= item.product.price %></td>
            <td>
              <%= form_tag(cart_path, method: :patch, class: "d-inline") do %>
                <%= hidden_field_tag :product_id, item.product_id %>
                <%= number_field_tag "quantity", item.quantity, class: 'form-control', min: 1 %>
                <%= button_tag "Update", type: "submit", class: "btn btn-info" %>
              <% end %>
            </td>
            <td>
            </td>
            <td><%= item.product.price * item.quantity %></td>
            <td>
              <%= button_to "Remove from Cart", cart_path(product_id: item.product_id, quantity: 0), method: :patch, class: 'btn btn-outline-danger'%>
            </td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr class="table-dark text-dark">
          <td>Total amount:</td>
          <td colspan="3"></td>
          <td colspan="2"><%= Current.cart.total_amount %></td>
        </tr>
      </tfoot>
    </table>
    <%= button_to "Place Order", new_order_path, method: :get, class: 'btn btn-outline-success' %>
  <% else %>
    <p>Your cart is empty.</p>
  <% end %>
</div>