<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <title><%= @title %></title>

    <%= stylesheet_link_tag 'bootstrap/css/bootstrap.min' %>

    <!-- Custom styles for this template -->
    <%= stylesheet_link_tag 'css/products' %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
